html {
    background-color: #181818;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Stelle sicher, dass das Hintergrundbild den Container ausfüllt */
  z-index: -1; /* Stelle sicher, dass das Hintergrundbild hinter den Icons liegt */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.containerIcons {
    display: flex;
}

.containerIcons img {
    margin-bottom: 0;
}
  
  
.iconPflanze, .iconTier {
    margin: 40px;
    padding: 20px;
}
  
  .iconPflanze:hover, .iconTier:hover{
    transform: scale(1.1);
  }

  .iconPflanze {
    width: 180px;
    height: 200px;
  }

  .iconTier {
    width: 200px;
    height: 180px;
  }
  
  